body { background: #131313;  color: #aaa;  font-size:13px;
       text-align: center;  min-width:960px;
       font-family: Consolas, Monaco, "Lucida Console", monospace;}
html, body { margin:0;  padding:0;  height:100%;  overflow: hidden;}
h1 { font-weight: 400;  height: 5%;  float:left;
     margin: 20px 0 0 29px;  color: #666;  font-size:16px;}
#raphael-canvas,
#protovis-canvas,
#html5-canvas { position: absolute;  top: 0;  left: 0;  height: 100%;
          width: 100%;  text-align: left;  overflow: hidden;}
#console { background: #222;  background: rgba(34,34,34,0.7);
           color: #ffcf6f;  font-size:13px;  float: left;  position: fixed; bottom:0;
           text-align:left;  margin: 0;  padding: 0;  width: 100%; height:150px; z-index: 10;
           border-top: 1px dashed #333;}
#console pre { margin: 0;}
#input { height:150px; width: 50%; float:right; padding: 0;
         overflow:hidden; font-size:13px;  background: #2B211F;  color: #fdb;
         border: none; overflow: auto; }
#output { width: 50%; max-height: 150px; float:left; overflow: auto;}
.input { padding-top: 12px;}
.error { color: #f32;  font-weight: bold;}
.print { color: #0d4;}
.normalOutput {  color: #efefef;  font-weight: bold;}
.tabcomplete {  background: #444;  position: relative;  top: 4px;  left: -2px;  padding: 2px;}
.tabcomplete strong {  color: #efefef;}
p {  color: #999;  margin: 20px 0 0 29px;}
p, pre {  text-align: left;  font-size:13px;}
pre {  margin: 12px 0 20px 29px;}
pre span {  color: #888;}
a, a:visited {  color: #ddd;  text-decoration: none;}
a:hover {  color: #fff;  text-decoration: underline;}
