html, body {
  margin:0;
  padding:0;
  height:100%;
  overflow: auto;
}

body {
  font-size:13px;
  min-width:960px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 400;
  height: 5%;
  float:left;
  margin: 20px 0 0 29px;
  color: #666;
  font-size:24px;
}
h2 {
  font-size: 16px;
}
#canvas {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
}
#code {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
}
#console {
  position: absolute;
  width: 50%;
  height: 40%;
  top: 60%;
  left: 0;
}
.widget {
  float: left;
  width: 33.333%;
}
.widget nav {
  height: 16px;
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-left: 14px;
}
.widget nav div {
  text-align: center;
}
.editor {
  width: 100%;
  padding: 0px;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  overflow: auto;
  resize: none;
}
#editor {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#input {
  height: 30%;
}
#output {
  height: 70%;
  overflow: auto;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  background: #f4f3f2;
  background: rgba(244,243,242,0.85);
}

.input { color: #1f77b4; font-weight: bold; padding-top: 12px;}
.error { color: #f32;  font-weight: bold;}
.print { font-weight: bold; }
.normalOutput { }
.tabcomplete {  background: #444;  position: relative;  top: 4px;  left: -2px;  padding: 2px;}
.tabcomplete strong { color: #efefef;}
p { margin: 0 0 14px 0;}
a, a:visited { color: #000;  text-decoration: none;}
a:hover { text-decoration: underline;}

.pink { color: #e377c2; }
.orange { color: #ff7f0e; }
.green { color: #2ca02c; }
.lime { color: #98df8a; }
.lightpink { color: #f7b6d2; }
.blue { color: #1f77b4; }
.purple { color: #9467bd; }
.lavender { color: #c5b0d5; }
.brown { color: #8c564b; }
.red { color: #d62728; }
.salmon { color: #ff9896; }
.grey { color: #666; }
