html, body {
  margin:0;
  padding:0;
  height:100%;
  overflow: auto;
}

body {
  font-size:13px;
  min-width:960px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 400;
  height: 5%;
  float:left;
  margin: 20px 0 0 29px;
  color: #666;
  font-size:24px;
}
h2 {
  font-size: 16px;
}
#canvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height:100%;
}
#code {
  position: absolute;
  width: 46%;
  height: 90%;
  top: 2%;
  right: 2%;
}
#console {
  position: absolute;
  width: 50%;
  height: 40%;
  bottom: 0%;
  left: 0;
}
.widget {
  float: left;
  width: 33.333%;
}
.widget_wrap {
  padding: 0 0 80px;
}
.editor {
  width: 100%;
  padding: 0px;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  overflow: auto;
  resize: none;
  background: #fff;
  background: rgba(244, 243, 242, 0.6);
  border: 2px solid #bbb;
}
#editor {
  height: 100%;
  width: 100%;
}
#code .buttons {
  position: absolute;
  bottom: -8%;
  font-size: 24px;
  right: 0;
  z-index: 10;
}
#code .buttons div {
  float: left;
  padding: 4px;
  margin: 0 8px;
  background: #ddd;
}
#code .buttons div:hover {
  cursor: pointer;
  color: #fff;
  background: #333;
}
#input {
  height: 20px;
  padding: 2px 4px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
#output {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 26px;
  overflow: auto;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  background: #efeeec;
  background: rgba(214,213,212,0.85);
  padding: 4px;
  border: 2px solid #bbb;
}

.input { color: #1f77b4; font-weight: bold; padding-top: 12px;}
.error { color: #f32;  font-weight: bold;}
.print { font-weight: bold; }
.normalOutput { }
.tabcomplete {  color: #efefef; background: #444;  position: relative;  top: 4px;  left: -2px;  padding: 2px;}
.tabcomplete strong { color: #efefef;}
p { margin: 0 0 14px 0;}
a, a:visited { color: #000;  text-decoration: none;}
a:hover { text-decoration: underline;}

.pink { color: #e377c2; }
.orange { color: #ff7f0e; }
.green { color: #2ca02c; }
.lime { color: #98df8a; }
.lightpink { color: #f7b6d2; }
.blue { color: #1f77b4; }
.purple { color: #9467bd; }
.lavender { color: #c5b0d5; }
.brown { color: #8c564b; }
.red { color: #d62728; }
.salmon { color: #ff9896; }
.grey { color: #666; }
